<div class="container-fluid">
	<div class="box col-md-4 col-md-offset-4">
		<h4>Nueva Cuenta de Usuario</h4>
		<div class="form">
			<div class="form-group">
				<label for="username">Cuenta de Usuario</label>
				<input type="text" class="form-control" ng-model="auxAdmin.userName" placeholder="leoruiz">
				<div ng-if="errors.userName" class="text-danger with-errors">
					{{errors.userName}}
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail">Correo Electronico</label>
				<input type="text" class="form-control" ng-model="auxAdmin.email" placeholder="example@gmail.com">
				<div ng-if="errors.email" class="text-danger with-errors">
					{{errors.email}}
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword">Clave de Acceso</label>
				<input type="password" class="form-control" placeholder="Contraseña de usuario" ng-model="auxAdmin.password">
				<div ng-if="errors.password" class="text-danger with-errors">
					{{errors.password}}
				</div>
			</div>
			<div class="form-group">
				<label for="inputPasswordConfirm">Confirmar Clave</label>
				<input type="password" class="form-control" placeholder="Confirmar contraseña" ng-model="auxAdmin.passwordConfirmation">
				<div ng-if="errors.passwordConfirmation" class="text-danger with-errors">
					{{errors.passwordConfirmation}}
				</div>
			</div>
			<div class="form-group">
				<label for="isAdmin">Es administrador? <input type="checkbox" value="true" ng-model="auxAdmin.isAdmin"></label>
			</div>
			<button type="button" class="btn btn-primary btn-block" ng-click="createAdmin()">Agregar</button>
		</div>
	</div>
</div>